$('#flash-errors').html('');
$('#flash-errors').css('display','block');
$('#flash-errors').append('<p class="login-error">That won&#39;t work!</p><p>You entered a wrong username and/or password.</p>');
