<<<<<<< HEAD:app/views/sessions/create.js.erb
<<<<<<< HEAD:app/views/sessions/create.js.erb
$('#flash-errors').html('');
$('#flash-errors').css('display','block');
$('#flash-errors').append('<p class="login-error">That won&#39;t work!</p><p>You entered a wrong username and/or password.</p>');
=======
alert('booyaaa');
>>>>>>> master_luke:app/views/sessions/create.js.erb
=======
alert(document.cookie);
>>>>>>> browse_reviews:app/views/sessions/create.js.erb
