<h1>Editing peer_rating</h1>

<% form_for(@peer_rating) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @peer_rating %> |
<%= link_to 'Back', peer_ratings_path %>
