

<!-- expects: index, selected_id = nil, parent_div_id, removable(boolean) -->
<% unique = Time.now.to_i + rand(100)
  @issues = Issue.find(:all, :select => "id, name")
  
%>

<div id="issue_picker_<%= unique %>" class="issue_picker">
	
	<%= f.select :id, @issues.map{|x| [x.name, x.id]}, :selected => defined?(selected_id) ? selected_id : nil %>
	
	<% if removable %>
		<%= link_to_function 'remove', '$("#issue_picker_'+unique.to_s+'").empty(); return false;' %>
	<% end %>

</div>

