<h1>Listing issues</h1>

<% for issue in @issues %>
  	
<div class="issue">
	<%= render :partial => "issue", :locals => {:issue => issue} %>
</div>
	
<% end %>

<% if permitted_to?(:manage, :issues) %>
	<%= link_to 'New issue', new_issue_path %>
<% end %>
