/******************** =General Styles ********************/

div#flash_notice{
	text-align: center;
	color: green;
	border: solid thin green;
	font-family: courier;
	font-weight: bold;
	padding: 5px;
	background-color: #cceecc;
	margin-left:0px;
	margin-top:40px;
	width: 400px;
}

body {
	font-family: "trebuchet ms",verdana,arial,helvetica,sans-serif;
	color: #191919;
}

strong {
	font-weight: bold;
}

/* Company list requirements */
#company-list {width: 100%;}
#company-list caption {
  text-transform: uppercase;
  color: #555;
  font-size: 123%;
  padding: 1em 0;
  font-weight: bold;
}

#sort-by-form{
  float: right;
  margin-top: 1em;
}
#company-list th {
  background-color: #29830c; 
  color: #fff;
  height: 27px;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  }
#company-list td{ text-align: center; padding: 10px 15px;}

#company-list .name {width: 32%; text-align: left;}
#company-list .name a{color: #29830c; font-size: 108%; font-weight: bold;}

#company-list .brands {width: 38%; text-align: left;}
#company-list td.brands{color: #848484;}
#company-list .brands a{color: #29830c; text-transform: uppercase;}

.odd {background-color: #fff;}
.even {background-color: #f5fbf2;}



a {
	color: #0f0087;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

h2 {
	color:#ABA189;
	font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
	font-size:3em;
	letter-spacing:-1px;
	line-height:1.1em;
	margin-bottom:0.5em;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

h4 {
	font-weight: bold;
	color: #333;
}

#bd h1 {
	padding-top: 5px;
	padding-bottom: 10px;
}

textarea {
  padding: 5px;
}

br {
	clear: both;
}

br.left {
	clear: left;
}

br.right {
	clear: right;
}

.avatar {
	border: 1px solid #b3b3b3;
	padding: 2px;
}

.green {
	color:#74ac31;
}

.red {
	color:#dc4b53;
}

.blue {
	color:blue;
}

/******************** =Header ********************/

#header{
	width:974px;
	height:66px;
	padding-top: 10px;
}

#header #nav{
	width:550px;
	display:inline;
	color: #0f0087;
	font-size:12px; 
	float:right;
	padding-top: 15px;
	text-align:right;

}

#header #nav a {
	color:#292929;
	font-weight:bold;
	text-decoration:none; 
	padding:0 5px 0 5px;
}

#header span#tag_line {
	color: #676767;
	font-weight:bold;
	text-decoration:none; 
	padding:0 5px 0 5px;
}

/******************** =Error Messaging ********************/

#notice {
	color:red;
	font-size:1.1em;
}

#errorExplanation h2 {
	font-size:2em;
}

#errorExplanation ul li {
	margin:5px 0;
	color:red;
}

/* Client Side Validation Error Messaging */

label.error {
	color:Red !important;
	float:right;
	margin:0 !important;

	width:240px;
}

/******************** =Dialog Confirmations ********************/

.jqifade{
      position: absolute;
      background-color: #aaaaaa;
}
div.jqi{
      width: 400px;
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      position: absolute;
      background-color: #ffffff;
      font-size: 11px;
      text-align: left;
      border: solid 1px #eeeeee;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      padding: 7px;
}
div.jqi .jqicontainer{
      font-weight: bold;
}
div.jqi .jqiclose{
      position: absolute;
      top: 4px; right: -2px;
      width: 18px;
      cursor: default;
      color: #bbbbbb;
      font-weight: bold;
}
div.jqi .jqimessage{
      padding: 10px;
      line-height: 20px;
      color: #444444;
	font-size:1.3em;
	text-align:center;
}
div.jqi .jqibuttons{
      text-align: center;
      padding: 5px 0 5px 0;
      border: solid 1px #eeeeee;
      background-color: #f4f4f4;
}
div.jqi button{
      padding: 3px 10px;
      margin: 0 10px;
      background-color: #2F6073;
      border: solid 1px #f4f4f4;
      color: #ffffff;
      font-weight: bold;
      font-size: 12px;
}
div.jqi button:hover{
      background-color: #728A8C;
}
div.jqi button.jqidefaultbutton{
      background-color: #7BB933;
}
.jqiwarning .jqi .jqibuttons{
      background-color: #BF5E26;
}

/******************** =Search ********************/

#search {
	float:right;
}

#globalnav {
	width:974px;
	background: #7bb933;
	padding: 5px;
	margin-bottom: 15px;
}
#globalnav li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 2px solid #fff;
}
#globalnav li a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
#globalnav li:first-child {
	border-left-width: 0;
}

/* policy docs - last updated by Luke Jan 2009 */ 

div.terms .section{
	margin: 25px;
}
div.terms .section .subsection{
	margin: 15px;
}
div.terms .section li{
	padding-left: 30px;
}	
div.terms .section p{
	margin: 7px;
}
div.terms ul.bulleted{
	padding-left: 30px;
	padding-bottom: 20px;
}
div.terms ul.bulleted li{
	list-style-type: disc;
	padding-left: 0px;
	padding-top: 7px;
}
div.terms ol{
	padding-left: 35px;
	padding-bottom: 20px;
}
div.terms ol li{
	list-style-type: decimal;
	padding-left: 0px;
	padding-top: 4px;
}
/* end policy docs */

	
#newcontainer {
	background: url(/images/home_header_bg.png) no-repeat;
	width:977px;
	height:298px;
	margin:5px 0 8px 0px;
	border:0px solid blue;
	padding-bottom: 10px;
}

/*#newcontainer span {
	padding:15px 0 0 40px;
	font-size:28px;
	text-align:center;
}*/

#newcontainer p#line1,
#newcontainer p#line2,
#newcontainer p#line3 {
	padding:15px 0 0 40px;
	font-size:28px;
	padding:15px 0 0 40px;
	font-size:28px;
	position:relative;
	top:30px;
}

#newcontainer p#line2 {
	position:relative;
	left:220px;
}

#newcontainer p#line3 {
	position:relative;
	left:260px;
}

#newcontainer a img {
	position:relative;
	top:45px;
	left:400px;
}

#home div#main {	
	padding: 10px;
	border: 1px solid #b8b8b8;
}

div.feature {
	padding: 10px;
	border: 1px solid #b8b8b8;
	background-color: #f4f4f4;
	margin-bottom: 30px;
}

#home h2 {
	font-weight:bold;
	font-size:18px;
	color: #74ac31;
	padding-bottom: 5px;
}

#home h4 {
	font-weight:bold;
}

#home p {
	padding-bottom: 5px;
}

#home #main .section {
	padding-bottom: 10px;
}

#home li {
	list-style-image: url(/images/css/bullet_arrow_right.gif);
	margin-left: 25px;
	padding-bottom: 5px;
}

.quote {
	font-style: italic;
}
.quote_source {
	padding-top: 5px;
	float: right;
}

blockquote.pullquote {
	padding:12px 0;
	margin: 5px 15px 8px 0;
	float:left;
	width:180px;
	text-align: center;
	border-top:3px double #ccc;
	border-bottom:3px double #ccc;
    border-left:0;
    border-right:0;
	line-height:1.6em;
    background:#fefefe;
}
blockquote.pullquote.right {
	margin: 5px 0 8px 15px;
	float:right;
}
blockquote.pullquote p {
	margin:0 !important;
	font-size:1.4em;
	color:#666;
	font-weight:bold;
}

.content_header {
	background: #f7f7f7 url(../images/css/content_box_hdr_bg.gif) repeat-x;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #b8b8b8;
	border-left: 1px solid #b8b8b8;
	border-right: 1px solid #b8b8b8;
}

.content_body {
	padding: 10px;
	border-bottom: 1px solid #b8b8b8;
	border-left: 1px solid #b8b8b8;
	border-right: 1px solid #b8b8b8;
}

#footer {
	padding-top: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}
#footer #copyright {
	margin-top: 10px;
}
#footer #links a {
	color: #000000;
}
#footer #copyright p {
	font-size: 10px;
}

form label { 
	display: block;  /* block float the labels to left column, set a width */
/*	float: left; */
	width: 150px; 
	padding-bottom: 10px;
	padding-right: 5px;
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: right;
}

div.submit {
	padding-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 164px;
}

.company{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: ;
	border-bottom: 1px solid #008300;
	margin-right: 15px;
}

.company div.score{
	float: left;
	background-color: #7bb933;
	color: #333;
	font-weight: bold;
	font-size: 14px;
	padding: 8px;
	margin-top: 15px;
}

.company div.info{
	margin-left: 50px;
}

.company h2{
	font-size: 14px;
	font-weight: bold;
}

.company span.brands{
	color: #666;
	display: block;
}

a.arrow {
	background: url(/images/arrow.png) no-repeat right 4px;
	padding-right: 15px;
}

.form_box {
	margin-top: 35px;
}

.content_box{
	/*width:775px;*/
	height:auto;
	margin-top: 10px;
	padding-top: 5px;
	background-color:#f7f7f7;
	border: 1px solid #CCC;
}
.content_box .header{
	/*width:775px;*/
	height:35px;
	background: url(/images/css/contentBoxHdr_bg.gif) repeat-x;

}
.content_box .header .tablink,
.content_box .header .tablink_on{
	float:left;
	padding:8px 8px 0px 8px;
	margin: 0px;		
	height:35px;
	border:0px solid red;

}
.content_box .header .on {
	background: url(/images/css/contentBoxHdrTab_bg.gif) repeat-x;
}
.content_box .header .separator{
	background: url(/images/css/contentBoxHdrTab_sep.gif) no-repeat;
}
.content_box .header .tablink a:hover{
	color:#333;
	text-decoration: none;
}
.content_box .header .tabimg_left_on,
.content_box .header .tabimg_right_on,
.content_box .header .tabimg_left_off,
.content_box .header .tabimg_right_off,
.content_box .header .tabimg_left,
.content_box .header .tabimg_right{
	float:left;
	width:9px;
	height:35px;
	margin: 0px;		
}
.content_box .header .tabimg_left_on{
	background: url(/images/css/contentBoxHdrTabOn_left.gif) no-repeat;
}
.content_box .header .tabimg_right_on{
	background: url(/images/css/contentBoxHdrTabOn_right.gif) no-repeat;
}
.content_box .header .tabimg_right{
	background: url(/images/css/contentBoxHdrTab_right.gif) no-repeat;
}
.content_box .header .tabimg_left{
	background: url(/images/css/contentBoxHdrTab_left.gif) no-repeat;
}
.content_box .header .strong a{
	font-weight: bold;
	color: #7d0509;
}

.content_box #content div.tab_content {
	display: none;
}
.content_box #content div.show {
	display: block;
}
	
.content_box #content {
	padding: 10px;
	background-color: #fff;
}

#scores_and_overview h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#scores_and_overview .info_box {
	float: right;
	width: 350px;
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	background: #f7f7f7;
}

#scores_and_overview .info_box #brands li {
	padding-bottom: 5px;
	padding-left: 15px;
}

#scores_and_overview .info_box label {
	font-weight: bold;
}


#scores_and_overview .attribution {
	padding-top: 15px;
	font-size: 10px;
	font-style: italic;
	float: right;
}


#scores_and_overview div.category ul {
	margin-left: 40px;
}

#scores_and_overview div.score{
	float: left;
	color: #333;
	font-weight: bold;
	font-size: 12px;
	padding: 4px;
	margin-top: 15px;
}

#scores_and_overview div.score_container{
	margin-bottom: 5px;
	margin-left: 15px;
}

#scores_and_overview div.score_container label{
	margin-left: 10px;
	font-size: 12px;
	color: #333;
	position: relative;
	top: 10px;
}
#scores_and_overview div.score_container label.category{
	font-size: 16px;
}

.review {
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #7bb933;
	
}
.review div.reviewer {
	padding-left: 10px;
	font-size: 11px;
}
.review div.reviewer .avatar {
	float: left;
	margin-right: 10px;
}
.review div.reviewer .comment_count {
	padding-top: 5px;
}
.review div.content {
	float: left;
}
.review div.content .heading {
	float: left;
	width: 560px;
	padding-bottom: 10px;
	
}
.review div.content .body {
	float: left;
	margin-bottom: 10px;
}
.review div.content .heading .time_ago {
	float: right;
	font-size: 11px;
	font-style: italic;
}
.review div.content .heading .star_rating {
	font-weight: bold;
	font-size: 11px;
}
.review div.content .heading .review_rating {
	font-size: 11px;
	padding-bottom: 8px;
}
.review div.content .footer a.comment{
	background: url(/images/comment.png) no-repeat left 50%;
	padding-left: 20px;
}
.review div.content .footer .thumbs{
	position: relative;
	top: 5px;
}

.color_five {
	background-color: #2a9641;
}
.color_four {
	background-color: #a6d96a;
}
.color_three {
	background-color: #d6b57e;
}
.color_two {
	background-color: #f46d43;
}
.color_one {
	background-color: #d25754;
}


#user_profile {
	padding-top: 15px;
	padding-bottom: 15px;
}

#user_profile h1 {
	font-size: 20px;
	padding-top: 10px;
}
#user_profile h2 {
	padding-right: 3px;
	padding-top: 15px;
	padding-bottom: 3px;
	border-bottom: 1px solid #b3b3b3;
}
#user_profile .avatar {
	float: left;
	margin-right: 10px;
}
#user_profile .info {
	margin: 20px 10px 10px 10px;
	padding: 10px;
	background-color: #f8ffd5;
	border: 1px solid #a7aa9a;
}
#user_profile .info li {
	padding-bottom: 5px;
}
#user_profile .info label {
	float: left;
	width: 75px;
	padding-right: 5px;
	color: #7f7f7f;
	text-align: right;
}
#user_profile #user_issues h3 {
	margin-top: 5px;
	padding: 3px;
	background-color: #ccc;
	text-transform: uppercase;
}
#user_profile #user_issues li {
	margin-top: 5px;
	padding: 3px 3px 3px 10px;
	border-bottom: 1px solid #ccc;
}
#user_profile #user_issues li .issue{
	float: left;
}
#user_profile #user_issues li .score{
	float: right;
	margin-right: 10px;
}

#activity_feed {
	padding-top: 10px;
}

#activity_feed .event {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	border-bottom: 1px solid #ccc;
}
#activity_feed .event .heading {
	padding-bottom: 5px;
	font-weight: bold;
}
#activity_feed .event .heading .when{
	font-weight: bold;
}
#activity_feed .event .description {
	padding-bottom: 3px;
	margin-left: 20px;
}
#activity_feed .event .icon {
	position: relative;
	top: 3px;
	left: -15px;
}



.slider-control {
  padding-top: 10px;
}
.slider {
  float:left;
}
.slider-label {
  float:left;
  padding-right: 5px;
  padding-top : 2px;
  font-size: 14px;
}
.slider-value {
  float:left;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

span internal_notes{
	font-size: 1;
	font-color: red;
}

div internal_notes{
	border: solid thin red;
}

/******************** =Browse Company Page *******************/

div#company-issue-score {
	width:100%;
	position:relative;
	top:3px;
}

div#company-issue-score table {
	border-spacing:0px;
}

h1 {
	color:#555555;
	text-transform:uppercase;
	margin-top:34px;
}

div#company-issue-score th {
	background-color:#7BB933;
	color:white;
	text-transform:uppercase;
	text-align:left;
	/*font-size:1.4em;*/
	padding:2px 14px;
}

div#company-issue-score th#issue {
	width:400px;
}

div#company-issue-score th#issue-score {
	text-align:left;
	width:200px;
}

div#company-issue-score th#total-reviews {
	text-align:center;
	width:200px;
}

div#company-issue-score td {
	padding:6px 14px;
}

div#company-issue-score td span {
	visibility:hidden;
}

div#company-issue-score tr.main-issue-row {
	border-top:1px solid #7BB933;
}

div#company-issue-score td.main-issue,
div#company-issue-score td.sub-issue {
	width:300px;
}

div#company-issue-score td.issue-score {
	width:200px;
	text-align:center;
}

div#company-issue-score td.total {
	width:200px;
}

div#company-issue-score td.main-issue {
	text-transform:uppercase;
}

div#company-issue-score td.sub-issue {
	text-indent:10px;
}

div#company-issue-score tr.shade td {
	background-color:#f5fbf2;
}

div#company-issue-score tr.last td {
	border-bottom:1px solid #cce3c4;
}

div#company-issue-score tr td.total {
	text-align:center;
}

/******************** =Add Company Page *******************/

#add-company {

}

/******************** =Edit Company Page *******************/

#edit-company,
#add-company {
	width: 530px;
	margin-top:10px;
	-moz-border-radius-bottomleft:9px;
	-moz-border-radius-bottomright:9px;
	-moz-border-radius-topleft:9px;
	-moz-border-radius-topright:9px;
	border:1px solid #ABA189;
	margin-top:40px;
	padding:2em;
}

#edit-company form label,
#add-company form label {
	text-align:left;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	color:#413C4D;
	font-size:1.1em;
	line-height:1.6em;
	display:block;
	margin-top:1em;
	font-weight:bold;
}

#edit-company form input,
#add-company form input,
#edit-company form textarea,
#add-company form textarea {
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	border:1px solid #ABA189;
	font-size:1.1em;
	padding:0.25em;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	color:#413C4D;
	font-size:1.1em;
	line-height:1.6em;
}

#edit-company #submit,
#add-company #submit {
	margin-top:20px;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	font-size:1.3em;
	border:none;
	width:124px;
	height:40px;
	background: url('../images/buttons/button-login.png') 1px 1px no-repeat;
	cursor:pointer;
}

#edit-company form textarea,
#add-company form textarea {
	height:200px;
	width:500px;
}

#edit-company #back,
#add-company #back {
	text-decoration:underline;
	margin-left:20px;
}

/******************** =Administer Companies Page *******************/

#add-company-link {
	float:right;
	margin-top:-55px;
	margin-left:10px;
	position:relative;
	left:5px;
}

#administer-companies {
	width: 530px;
	margin-top:10px;
	-moz-border-radius-bottomleft:9px;
	-moz-border-radius-bottomright:9px;
	-moz-border-radius-topleft:9px;
	-moz-border-radius-topright:9px;
	border:1px solid #ABA189;
	margin-top:40px;
	padding:2em;
}

#administer-companies ul {
	clear:both;
}

#administer-companies ul li {
	padding:5px 5px;
	border-bottom:1px solid #7BB933;
}

#administer-companies ul li.shade {
	background-color:#F5FBF2;
}

#administer-companies span.company-name {
	display:inline-block;
	width:300px;
	font-size:1.4em;
}

#administer-companies span.edit-company {
	display:inline-block;
	width:100px;
}

#administer-companies span.delete-company {
	display:inline-block;
	width:100px;
}

#administer-companies a.submit {
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	background:#7BB933 none repeat scroll 0 0;
	color:#333333;
	display:block;
	font-size:1em;
	font-weight:bold;
	padding:5px 20px;
	text-decoration:none;
	text-align:center;
}

#administer-companies a.submit:hover {
	background:#888888 none repeat scroll 0 0;
	color:#FFFFFF;
}

/******************** =Add Company Form ********************/

#add-company-form {
	width:500px;
}

#add-company-form input {
	width:300px;
}

#add-company-form label {
	text-align:left;
}



/******************** =Login & Signup Forms ********************/

.form-row {
	float:left;
	clear:both;
	height:80px;
}

.form-row.accept-terms {
	height:40px;
}

.form-row.accept-terms span {
	float:right;
	margin-top:20px;
}

#login,
#signup {
	border:1px solid #ABA189;
	margin-top:40px;
	width:250px;
	padding:2em 2em;
	-moz-border-radius-bottomleft:9px;
	-moz-border-radius-bottomright:9px;
	-moz-border-radius-topleft:9px;
	-moz-border-radius-topright:9px;
	float:left;
}

#signup {
	width:520px;
	float:left;
}

#login form label,
#signup form label {
	text-align:left;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	color:#413C4D;
	font-size:1.1em;
	line-height:1.6em;
	display:block;
	margin-top:1em;
	font-weight:bold;
}

#login form input,
#signup form input {
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	border:1px solid #ABA189;
	font-size:1.1em;
	padding:0.25em;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	color:#413C4D;
	font-size:1.1em;
	line-height:1.6em;
	float:left;
	margin-right:10px;
}

#login #submit,
#signup #submit {
	margin-top:20px;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	font-size:1.3em;
	border:none;
	width:124px;
	height:40px;
	background: url('../images/buttons/button-login.png') 1px 1px no-repeat;
	cursor:pointer;
}

#agree_to_terms {
	margin-top:20px;
}


/** about section **/
#bd{margin-top: 2em;}
.left-box{
}
#left-nav{
  margin: 1em auto;
  width: 80%;
}
#left-nav li{
  margin-bottom: 1em;
}

#left-nav li a{
  font-weight: bold;
  font-size: 108%;
}
