body {
	font-family: "trebuchet ms",verdana,arial,helvetica,sans-serif;
	color: #191919;
}

strong {
	font-weight: bold;
}



a {
	color: #0f0087;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	color: #333;
}
h2 {
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
h3 {
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
h4 {
	font-weight: bold;
	color: #333;
}

#bd h1 {
	padding-top: 5px;
	padding-bottom: 10px;
}

textarea {
  padding: 5px;
}

br {
	clear: both;
}
br.left {
	clear: left;
}
br.right {
	clear: right;
}

.avatar {
	border: 1px solid #b3b3b3;
	padding: 2px;
}

#header{
	width:974px;
	height:66px;
	padding-top: 10px;
}

#header #nav{
	width:550px;
	display:inline;
	color: #0f0087;
	font-size:12px; 
	float:right;
	padding-top: 15px;
	text-align:right;

}

#header #nav a {
	color:#292929;
	font-weight:bold;
	text-decoration:none; 
	padding:0 5px 0 5px;
}

#header span#tag_line {
	color: #676767;
	font-weight:bold;
	text-decoration:none; 
	padding:0 5px 0 5px;
}


#globalnav {
	width:974px;
	background: #7bb933;
	padding: 5px;
	margin-bottom: 15px;
}
#globalnav li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 2px solid #fff;
}
#globalnav li a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
#globalnav li:first-child {
	border-left-width: 0;
}


	
	
#newcontainer{
	background: url(/images/home_header_bg.png) no-repeat;
	width:977px;
	height:298px;
	margin:5px 0 8px 0px;
	border:0px solid blue;
	padding-bottom: 10px;
}

#home div#main {
	
	padding: 10px;
	border: 1px solid #b8b8b8;
}

div.feature {
	padding: 10px;
	border: 1px solid #b8b8b8;
	background-color: #f4f4f4;
	margin-bottom: 30px;
}

#home h2 {
	font-weight:bold;
	font-size:18px;
	color: #74ac31;
	padding-bottom: 5px;
}

#home h4 {
	font-weight:bold;
}

#home p {
	padding-bottom: 5px;
}

#home #main .section {
	padding-bottom: 10px;
}

#home li {
	list-style-image: url(/images/css/bullet_arrow_right.gif);
	margin-left: 25px;
	padding-bottom: 5px;
}

.quote {
	font-style: italic;
}
.quote_source {
	padding-top: 5px;
	float: right;
}

blockquote.pullquote {
	padding:12px 0;
	margin: 5px 15px 8px 0;
	float:left;
	width:180px;
	text-align: center;
	border-top:3px double #ccc;
	border-bottom:3px double #ccc;
    border-left:0;
    border-right:0;
	line-height:1.6em;
    background:#fefefe;
}
blockquote.pullquote.right {
	margin: 5px 0 8px 15px;
	float:right;
}
blockquote.pullquote p {
	margin:0 !important;
	font-size:1.4em;
	color:#666;
	font-weight:bold;
}

.content_header {
	background: #f7f7f7 url(../images/css/content_box_hdr_bg.gif) repeat-x;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #b8b8b8;
	border-left: 1px solid #b8b8b8;
	border-right: 1px solid #b8b8b8;
}

.content_body {
	padding: 10px;
	border-bottom: 1px solid #b8b8b8;
	border-left: 1px solid #b8b8b8;
	border-right: 1px solid #b8b8b8;
}

#footer {
	padding-top: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}
#footer #copyright {
	margin-top: 10px;
}
#footer #links a {
	color: #000000;
}
#footer #copyright p {
	font-size: 10px;
}

form label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 150px; 
	padding-bottom: 10px;
	padding-right: 5px;
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: right;
}

div.submit {
	padding-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 164px;
}

.company{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: ;
	border-bottom: 1px solid #008300;
	margin-right: 15px;
}

.company div.score{
	float: left;
	background-color: #7bb933;
	color: #333;
	font-weight: bold;
	font-size: 14px;
	padding: 8px;
	margin-top: 15px;
}

.company div.info{
	margin-left: 50px;
}

.company h2{
	font-size: 14px;
	font-weight: bold;
}

.company span.brands{
	color: #666;
	display: block;
}

a.arrow {
	background: url(/images/arrow.png) no-repeat right 4px;
	padding-right: 15px;
}

.form_box {
	margin-top: 35px;
}

.content_box{
	width:775px;
	height:auto;
	margin-top: 10px;
	padding-top: 5px;
	background-color:#f7f7f7;
	border: 1px solid #CCC;
}
.content_box .header{
	width:775px;
	height:35px;
	background: url(/images/css/contentBoxHdr_bg.gif) repeat-x;

}
.content_box .header .tablink,
.content_box .header .tablink_on{
	float:left;
	padding:8px 8px 0px 8px;
	margin: 0px;		
	height:35px;
	border:0px solid red;

}
.content_box .header .on {
	background: url(/images/css/contentBoxHdrTab_bg.gif) repeat-x;
}
.content_box .header .separator{
	background: url(/images/css/contentBoxHdrTab_sep.gif) no-repeat;
}
.content_box .header .tablink a:hover{
	color:#333;
	text-decoration: none;
}
.content_box .header .tabimg_left_on,
.content_box .header .tabimg_right_on,
.content_box .header .tabimg_left_off,
.content_box .header .tabimg_right_off,
.content_box .header .tabimg_left,
.content_box .header .tabimg_right{
	float:left;
	width:9px;
	height:35px;
	margin: 0px;		
}
.content_box .header .tabimg_left_on{
	background: url(/images/css/contentBoxHdrTabOn_left.gif) no-repeat;
}
.content_box .header .tabimg_right_on{
	background: url(/images/css/contentBoxHdrTabOn_right.gif) no-repeat;
}
.content_box .header .tabimg_right{
	background: url(/images/css/contentBoxHdrTab_right.gif) no-repeat;
}
.content_box .header .tabimg_left{
	background: url(/images/css/contentBoxHdrTab_left.gif) no-repeat;
}
.content_box .header .strong a{
	font-weight: bold;
	color: #7d0509;
}

.content_box #content div.tab_content {
	display: none;
}
.content_box #content div.show {
	display: block;
}
	
.content_box #content {
	padding: 10px;
	background-color: #fff;
}

#scores_and_overview h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#scores_and_overview .info_box {
	float: right;
	width: 350px;
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	background: #f7f7f7;
}

#scores_and_overview .info_box #brands li {
	padding-bottom: 5px;
	padding-left: 15px;
}

#scores_and_overview .info_box label {
	font-weight: bold;
}


#scores_and_overview .attribution {
	padding-top: 15px;
	font-size: 10px;
	font-style: italic;
	float: right;
}


#scores_and_overview div.category ul {
	margin-left: 40px;
}

#scores_and_overview div.score{
	float: left;
	color: #333;
	font-weight: bold;
	font-size: 12px;
	padding: 4px;
	margin-top: 15px;
}

#scores_and_overview div.score_container{
	margin-bottom: 5px;
	margin-left: 15px;
}

#scores_and_overview div.score_container label{
	margin-left: 10px;
	font-size: 12px;
	color: #333;
	position: relative;
	top: 10px;
}
#scores_and_overview div.score_container label.category{
	font-size: 16px;
}

.review {
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #7bb933;
	
}
.review div.reviewer {
	padding-left: 10px;
	font-size: 11px;
}
.review div.reviewer .avatar {
	float: left;
	margin-right: 10px;
}
.review div.reviewer .comment_count {
	padding-top: 5px;
}
.review div.content {
	float: left;
}
.review div.content .heading {
	float: left;
	width: 560px;
	padding-bottom: 10px;
	
}
.review div.content .body {
	float: left;
	margin-bottom: 10px;
}
.review div.content .heading .time_ago {
	float: right;
	font-size: 11px;
	font-style: italic;
}
.review div.content .heading .star_rating {
	font-weight: bold;
	font-size: 11px;
}
.review div.content .heading .review_rating {
	font-size: 11px;
	padding-bottom: 8px;
}
.review div.content .footer a.comment{
	background: url(/images/comment.png) no-repeat left 50%;
	padding-left: 20px;
}
.review div.content .footer .thumbs{
	position: relative;
	top: 5px;
}

.color_five {
	background-color: #2a9641;
}
.color_four {
	background-color: #a6d96a;
}
.color_three {
	background-color: #d6b57e;
}
.color_two {
	background-color: #f46d43;
}
.color_one {
	background-color: #d25754;
}


#user_profile {
	padding-top: 15px;
	padding-bottom: 15px;
}

#user_profile h1 {
	font-size: 20px;
	padding-top: 10px;
}
#user_profile h2 {
	padding-right: 3px;
	padding-top: 15px;
	padding-bottom: 3px;
	border-bottom: 1px solid #b3b3b3;
}
#user_profile .avatar {
	float: left;
	margin-right: 10px;
}
#user_profile .info {
	margin: 20px 10px 10px 10px;
	padding: 10px;
	background-color: #f8ffd5;
	border: 1px solid #a7aa9a;
}
#user_profile .info li {
	padding-bottom: 5px;
}
#user_profile .info label {
	float: left;
	width: 75px;
	padding-right: 5px;
	color: #7f7f7f;
	text-align: right;
}
#user_profile #user_issues h3 {
	margin-top: 5px;
	padding: 3px;
	background-color: #ccc;
	text-transform: uppercase;
}
#user_profile #user_issues li {
	margin-top: 5px;
	padding: 3px 3px 3px 10px;
	border-bottom: 1px solid #ccc;
}
#user_profile #user_issues li .issue{
	float: left;
}
#user_profile #user_issues li .score{
	float: right;
	margin-right: 10px;
}

#activity_feed {
	padding-top: 10px;
}

#activity_feed .event {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	border-bottom: 1px solid #ccc;
}
#activity_feed .event .heading {
	padding-bottom: 5px;
	font-weight: bold;
}
#activity_feed .event .heading .when{
	font-weight: bold;
}
#activity_feed .event .description {
	padding-bottom: 3px;
	margin-left: 20px;
}
#activity_feed .event .icon {
	position: relative;
	top: 3px;
	left: -15px;
}



.slider-control {
  padding-top: 10px;
}
.slider {
  float:left;
}
.slider-label {
  float:left;
  padding-right: 5px;
  padding-top : 2px;
  font-size: 14px;
}
.slider-value {
  float:left;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

span internal_notes{
	font-size: 1;
	font-color: red;
}

div internal_notes{
	border: solid thin red;
}
