<% form_tag(issue_weights_user_url, :method => :put) do -%>
  <% IssueCategory.all.each do |issue_category| %>
    <div>
      <h3><%=issue_category.name %></h3>
      <ul>
        <% issue_category.issues.each do |issue| %>
          <li>
            <div>
              <div class="issue">
                <%=issue.name %>
              </div>
              <div class="score">
                <%=text_field_tag "issue_#{issue.id}", @user.issue_weight(issue), :size => 2 %>
              </div>
              <br>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%=submit_tag "Update Issue Weights" %>
<% end %>