<% Issue.by_category.each do |category, issues| %>
  <div>
    <h3><%=category %></h3>
    <ul>
      <% issues.each do |issue| %>
        <li>
          <div>
            <div class="issue">
              <%=issue %>
            </div>
            <div class="score">
              <%=@user.issue_weight(Issue.find_by_name(issue)) %>
            </div>
            <br>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>