
<% unless current_user == @user %>
	<font color="red">this isn't the logged-in user's account - need to develop security</font>
<% end %>

<h1>Editing My Profile</h1>

<% form_for(:user, :url => user_path(@user), :html => {:method => :put}) do |f| %>
	
	<%= render :partial => 'form', :locals => {:f => f}%>
	<%= f.submit "Save Profile" %>
	
<% end %>
	
	
			

