<div id="forgot-password">
    <div id="forgot-password-top"></div>
        <div id="forgot-password-body">
            <h2>Reset Your Password</h2>
            <% form_for :user, :url => forgot_path do |form|  %>
                <%= error_messages_for :user %>
                <% if flash[:forgot_password_notice] %>
                    <div id="message">
                        <%= flash[:forgot_password_notice] %>
                    </div>
                <% end %>
                <div class="form-row">
                    <label for="email">Email:</label>
                    <%= form.text_field :email,
                                        :size => User::EMAIL_SIZE,
                                        :maxlength => User::EMAIL_MAX_LENGTH %>
                </div>
                <div class="form-row">
                    <%= submit_tag "Reset" %>
                </div>
            <% end %>
        </div><!-- end login-body -->
    <div id="forgot-password-bottom"></div>
</div><!-- end login -->