<div id="newcontainer">
  <div align="center" style="padding:15px 0 0 40px;font-size:28px;">
    Exercise your market power on social issues.
  </div>
  <div align="center" style="padding:15px 0 0 40px;font-size:28px;">
    <span style="color:#74ac31;font-weight:bold;">Use the Web</span> to discover the hidden costs
  </div>
  <div align="center" style="padding:15px 0 0 40px;font-size:28px;">behind the <span style="color:#d70E17;font-weight:bold;">products you buy.</span></div>
  <div align="center" style="padding:15px 0 0 40px;">
    <%=link_to image_tag('get_started_button.png'), new_company_url %>
  </a></div>
</div>