<div id="newcontainer">
    <p id="line1">Exercise your market power on social issues.</p>
    <p id="line2"><span class="green">Use the Web</span> to discover the hidden costs</p>
    <p id="line3">behind the <span class="red">products you buy</span></p>
    <%=link_to image_tag('get_started_button.png'), new_company_url %>
</div>