<div id="newcontainer">
    <span>Exercise your market power on social issues.</span>
    <span>Use the Web to discover the hidden costs</span>
    <span>behind the products you buy</span>
    <%=link_to image_tag('get_started_button.png'), new_company_url %>
</div>