<!-- This is where our tutorial will be.  This is not the conceptual intro (like the <a href="http://girleffect.org">girleffect.org</a> video), but rather the "this-is-how-you-research-and-then-fill-out-a-review" tutorial. -->

<h2> How to Participate</h2>

                <p><b>If you want to see a change in the way corporations behave, you can make it happen - and we can help.</b>
                Is there an issue or a corporation that interests you?  Are you passionate enough to write an opinion
                or post the results of some research?  Your contributions to our review and ratings database will build
                a clear financial incentive for companies to improve their social and environmental performance.</p>

                <p><b>You don't need to be an expert.</b>  There is a wealth of information out there about corporate behavior.
                You can contribute substantial value to our community simply by reading a media story about a company, telling us
                what you think about it, and converting your opinion into a numeric rating of the company's performance.
                Our community creates value for each other by collecting disparate information and converting it into company scores.</p>

                <h3>SUBMIT A REVIEW OF A COMPANY'S PERFORMANCE</h3>

                <p>A review is one person's assessment of the performance of one company on one social or environmental issue.
                The numeric rating you provide in your review will affect the company's final score.  Your supporting text and
                sources will affect the credibility of your review, as measured by peer ratings.  These peer ratings will determine
                how much influence you have on the company score.</p>

                <p>Each review must be about a particular company in our expanding database.  You can <a href="co_select.php">browse companies</a>
                to view a list of currently available companies.  (We're expanding the database and working on ways to let you add companies yourself.)</p>

                <p><b>Not Sure What to Write About?</b><br/>
                Here are some suggestions for finding information about the social or environmental performance of companies:</p>

                <ul type="disc" style="margin-top: 0in;">
                 <li>
                     Browse the research links below for an issue that interests you.</li>
                 <li>
                     Use a search engine, combining the company name and a social or environmental issue that interests you.</li>
                 <li>
                     Skim the business section of your favorite newspaper or magazine.</li>
                
                </ul>

                <p>Once you have information or an opinion about a particular company, you're ready to <a href="r_enterreview.php">submit a review</a>.</p>

                <p><b>How to Submit a Review</b><br/>
                (Please note that your Review will become final once you click "Save Review."  We're working on features so that you can edit, save and
                preview your draft.  In the meantime, you may wish to draft your review separately on a word processor.)</p>

                <ul type="disc" style="margin-top: 0in;">
                 <li>
                     <b>Click <a href="r_enterreview.php">Submit a Review</a> in the Menu Bar.</b></li>
                 <li>
                     <b>Select a company from the "Company" drop-down menu.</b></li>
                 <li>
                     <b>Select one issue from the "Issue" drop-down menu.</b>  (We know this list is a bit intimidating; just take a moment to find
                     the best fit.  We're re-designing this interface to make it more flexible and user-friendly for you.)</li>
                 <li>
                     <b>Select a rating from the "Rating" drop-down menu to reflect the behavior of this company on this issue.</b>
                     A rating of 0 is worst; a rating of 10 is best.</li>
                 <li>
                     <b>Write (or cut and paste) your review in the text box, providing the reasons for your rating.</b> Reviews range in length
                     from a paragraph to a page (with a maximum of 1000 words). The best ones are concise and persuasive.</li>
                 <li>
                     <b>Include your source(s), especially links if you have them.</b>  Sources will add credibility to your review and allow
                     others to check your research.</li>
                 <li>
                     <b>Click “Save Review”.</b>  Thanks for contributing your point of view!</li>
                </ul>
                <br/>

                <h3>RATE A REVIEW</h3>

                <p>Our Peer Rating function is not yet operational.  Peer Ratings will <b>not</b> be saved.
                We'll let you know when the Peer Rating function is up and running.</p>

 				<br/>


               <h3>RESEARCH LINKS</h3>

                <p>Click on any of the links below to learn about the social or environmental performance of companies.  One of our favorite 
                research tools is the <a href="http://www.business-humanrights.org/Categories/Individualcompanies">Business and Human Rights Resource Centre</a>.  
                Simply pick any company in our database, find that company in the 
                <a href="http://www.business-humanrights.org/Categories/Individualcompanies">Business and Human Rights Resource Centre</a>, and 
                read the latest human rights stories in the media about that company.</p>
                <br/>
                <script type="text/javascript" src="http://del.icio.us/feeds/js/Citizens_Market/research?count=40;title=Citizens%20Market%20del.icio.us;bullet=%E2%80%A2;icon;sort=alpha"></script>
               				<noscript><a href="http://del.icio.us/Citizens_Market/research">Citizens Market del.icio.us</a></noscript>
