<div class="yui-b left-box">
  <ul id="left-nav">
      <li><%= link_to_unless_current("How to Participate", {:action => "take_action"}) %></li>
      <li><%= link_to_unless_current("Donate", {:action => "donate"}) %></li>
  </ul>
</div>