<h2>Welcome, to Citizen's Market.</h2>
<p>Wouldn't it be great to live in a world where citizens can make informed purchasing decisions, and where corporations are driven to behave ethically and sustainably?  We think so.  How do we intend to accomplish such a thing?  Watch our intro to find out.</p>
<p>Ready to get started?  Come with <a href="#nogo" title="Citizens Market Video">us</a>.</p>