<h1>About Us</h1>

<div class="content_box">
  	<div class="header">
    	<%= render_tabs [
      		{:label => 'Our Team', :on => true},
      		{:label => 'Our Model'},
      		{:label => 'Our Methods'},
      		{:label => 'FAQ'},
		] %>
  	</div>

	<div id="our_team" class="tab_content">
		
		
	</div>
	
	<div id="our_model" class="tab_content">
		
        
		
	</div>
	
	<div id="our_methods" class="tab_content">
		
	
		
	</div>
	
	<div id="faq" class="tab_content">
	
		
		
	</div>
      
        
        
        

</div>

</div><!-- div id="main" -->

