
<div class="terms">
	
<h1>CITIZENS MARKET ATTRIBUTION POLICY</h1>

<div class="section">
	
	<p>Citizens Market offers all content, except as otherwise noted [link to Exceptions page] under a <font color="green">Creative Commons Attribution-Only license [stephane has a comment here]</font> <font color="red">[link to http://creativecommons.org/licenses/by/3.0/]</font>. We do this to make it easy for our content to be re-published on other websites, commercial and non-commercial, so long as those sites credit us as the original source.</p>
	
	<p>We believe that sharing our content in this way is most consistent with our main goal: To promote socially responsible choices in the marketplace by providing reliable information about the social and environmental performance of companies.</p>
	
	<p>While we authorize and encourage people to use our content, we feel it is important that Citizens Market and our editors and contributors receive appropriate credit. So, the Creative Commons license we use requires that authorship of the content must be attributed in the manner we specify. At a minimum, we require that attribution of our content include:</p>
	
	<ul class="bulleted">
		<li>A link from the text used back to the original content on Citizens Market</li>
		<li>The text “Citizens Market” hyperlinked to “http://www.citizensmarket.org” (This second link is not required per item used - a single link to Citizens Market on each page displaying multiple pieces of content from Citizens Market is adequate.)</li>
	</ul>
	
	<p>Thanks for understanding our need to balance our desire for people to share our content with our need to make sure our community is credited for its hard work.</p>
	
	
</div>

Copyright 2009 Citizens Market, Inc. All rights reserved.
Last Updated January 10, 2009


</div>