<div class="terms">

<h1>Contact Us</h1>

<p>Please contact us whenever the impulse arises.  Your thoughts, ruminations, criticism, illumination, suggestions, and inspirations are critical for the improvement and evolution of our system.  We seek to change the world by finding pathways into a bold and bright future, and providing the vehicle for all to travel them.  Citizens Market is a tool for every person to use.  In that spirit, every person will have something to say in its design.<p>
<br>
<p>We want to hear the good, the bad and the ugly. Please direct all comments or queries to:</p>

<div style="margin-left: 40px; margin-top: 15px;">
<a href="mailto:support@citizensmarket.org">support@citizensmarket.org</a><br>
<br>
Citizens Market<br>
c/o Stéphane de Messières<br>
56 Hancock St, Apt 3<br>
Cambridge, MA 02139<br>
<br>
(917) 232-2486<br>
</div>

