<div id="yui-main">
  <div class="yui-b">
    <h2>Donate</h2>
            <p>
            Thanks for your interest in contributing to our cause!  We're raising $70,000 to pilot our website prototype.  We're incorporated as a 
            nonprofit in Massachusetts are excited to announce that the IRS has approved our tax exempt 501(c)3 status.  Your donation is crucial for 
            getting our operations off the ground.  All donations to Citizens Market are tax deductible.
            </p>

            <p>
                    </p><form method="post" action="https://www.paypal.com/cgi-bin/webscr">
                    <input type="hidden" value="_s-xclick" name="cmd"/>
                    <input type="image" border="0" alt="Make payments with PayPal - it's fast, free and secure!" name="submit" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif"/>
                    <img width="1" height="1" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt=""/>
                    <input type="hidden" value="-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCK5Bgwblt9r7fpsScX8gaXldWIi4HWxTZ6hjprYG6CxNLnD4C0cAYv0oU1KpSqWRXjYNifoySpwNQWbOYcxVu8dLkWttSNpiy+91N8qX9cu91BNMV2BuyXeQY4fLb4pIHp5sUkCptTSrdxsONTHLchoKP3cPKuX7+j01fEDZ05dTELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI28lSy5mw2qSAgahsEQA0SdNt7mBAEIs7G9u0Zukg6iU+As1op7Zz6nJbuTjJ7cXqtIVsj6G571PGe3fCJSeWJdWUcp9ZvnzaJ+w3fHPRjEiUHmPrajo1OB9Uvrs2a+g1wHxTQFGQlHBXp3ALNZo8QeaiBAVdg7tK/rpAYWaDAY7ZFPUTnAi0rBDcVLz584SLvTewJjhrf+Hz0WPFJKNqshBCYsreRyV6j6HHUtYB4c1KLRCgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0wODAxMTgyMjMyMjJaMCMGCSqGSIb3DQEJBDEWBBRPAgjSv8slcN6XbfG+jXwsEeG+VjANBgkqhkiG9w0BAQEFAASBgBbj8hyH5KR/rrM6P5fvK7BpzGqWztHhmaF0kWdL6wbz0mmjOBIs6hw7VUSvW9fv0/nv9ogkH4JX+/vjr+cj7PcbJPfZMJc/EuzfgD313vwkUCT6wWtpsqUg6y91EhNs9q4TCM23bcwX311ga/VuKj5NwwUQJ3carghXTUsNxvNn-----END PKCS7-----" name="encrypted"/>
                    </form>
                    <br/>



                    <p>
                    We're also delighted to receive checks.  Please make checks payable to "Citizens Market" and mail to:
                    </p>

                    <p>
                    Citizens Market<br/>
                    c/o Stéphane de Messières<br/>
                    56 Hancock St, Apt 3<br/>
                    Cambridge, MA  02139<br/>
                    </p>

                    <p>
            <!-- Begin Official PayPal Seal --><a target="_blank" href="https://www.paypal.com/us/verified/pal=sdemessieres%40citizensmarket%2eorg"><img border="0" alt="Official PayPal Seal" src="http://www.paypal.com/en_US/i/icon/verification_seal.gif"/></a><!-- End Official PayPal Seal -->
            </p>
    
  </div>
</div>
<%= render :partial => "side_navigation" %>