
<div class="terms">
	
<h1>CITIZENS MARKET PRIVACY POLICY</h1>

<div class="section">
	<h2>Privacy Notice</h2>
	
	<p>The following discloses the information gathering and dissemination practices for the Citizens Market website. We reserve the right to modify the information contained herein at anytime without prior notice. If we do make changes to our privacy policies, we will modify this page accordingly. Check this page periodically for amendments. This site and all information and materials on it are provided to you "as is" without warranty of any kind.</p>
	
	<p>YOUR USE OF THIS SITE, OR YOUR PROVISION TO US OF ANY PERSONAL INFORMATION CONSTITUTES YOUR AGREEMENT TO THESE TERMS AND ANY SUBSEQUENT CHANGES TO THESE TERMS; DO NOT USE THE SITE OR PROVIDE INFORMATION IF YOU DO NOT AGREE WITH ALL OF THE TERMS.</p>
	
</div>

<div class="section">
	<h2>Normal Browsing</h2>
	
	<p>As with many websites, we collect certain information, even when you are not logged in. When you browse, read, or download information from Citizens Market, Citizens Market collects data, including but not limited to the public source IP address of the request, web pages visited, User Agent (a text string that is sent by the web browser which usually identifies the browser type and gives some operating details), date and time of your request, the HTTP Referrer (the URL of the previous page when the current request was initiated by clicking on a link), the site to which the user links after visiting our site, and user queries.</p>
	
	<p>We analyze traffic to the Citizens Market site in various ways, including using a service called Google Analytics. (Google Analytics is subject to the privacy policy of Google, Inc., which you can find on Google’s website.) We use this information to generate statistics and measure site activity to improve the usefulness of the site to our visitors and to understand our visitors. Unless you affirmatively provide additional information to us, we do not collect or store personally identifiable information such as name, mailing address, email address, phone number, or social security number.</p>
	
</div>

<div class="section">
	<h2>Information You Provide</h2>
	
	<p>Citizens Market requests personally identifiable information when you register for an account. Personally identifiable information may be used or requested to perform research, improve usability of the site, administer mailing lists or online communities, allow us to receive payment, or other activities related to the Citizens Market services. This information may include, but is not limited to, personal names, e-mail addresses, billing address, credit card number and expiration date. Demographic information, such as gender, age, location and income, will be used to help us better understand our consumers and for (de-identified) aggregation in our reports.</p>
	
	<p>Citizens Market also keeps user-provided “Content” information which is tied to content publicly provided by that user. “Content” information may include but is not limited to reviews, ratings or comments posted by that user, in addition to associated public elements such as user name, photo, user statistics such as number of reviews or peer ratings posted by user, and user value preferences on various issues.</p>
	
	<p>Citizens Market also tracks user search queries for companies, brands or products. This information may be de-identified and aggregated to improve the operations of our site and in reports we sell to companies.</p>
	
</div>

<div class="section">
	<h2>Disclosure of Information</h2>
	
	<p>Available log records, account information, and all data stored on our servers may be accessed by our system administrators. In the event that we are required by law (including but not limited to pursuant to a subpoena or a court order) to disclose the information you submit, we will provide you with notice that a request for your information has been made so that you may object to the disclosure, unless we are prohibited to provide you with such notice. We will send this notice by email to the address you have given us. We prefer to independently object to overbroad requests for access to information about users of our site, but we cannot assure you that we will be able to do this in all cases. If you do not make a proper legal challenge to the disclosure request yourself, we may be legally required to turn over your information.</p>
	
	<p>We also may sell aggregated, de-identified reports on user demographics and behavior to interested third parties, such as companies, investors, journals, and academics.</p>
	
	<p>User provided “Content” information will be publicly available for anyone to use in accordance with a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.</p>
</div>

<div class="section">
	<h2>Cookies</h2>
	
	<p>We may use session cookies when you visit our website while your browser is open, or while you are logged into our site. To facilitate our registration and login functions, we may use domain cookies to recognize you when you return to our website. If you do not logout of your account, these cookies allow us to keep track of your username and password so that you do not have to resubmit the information to log into your account. If others will be using your computer, you should log out of your account so that your logon information is cleared.</p>
</div>

<div class="section">
	<h2>Control of Your Password</h2>
	
	<p>Except as specifically permitted by this Privacy Policy or your User Agreement you may not disclose your Citizens Market password to any third parties nor share it with any third parties. If you lose control of your Citizens Market password you may lose control over your personally identifiable information, and you will be responsible for any legally binding actions taken on your behalf. Therefore, if your password has been compromised for any reason, you should immediately change your password or, if we provided your password, notify Citizens Market so that we may issue you a new password.</p>
</div>

<div class="section">
	<h2>Removal or Correction of Personally Identifiable Information</h2>
	
	<p>You may "delete” your account as part of the editing functions in your online profile. We will permanently delete most portions of your personal account, such as e-mail, billing address, credit card information, and value preferences within 30 days. However, some portions of a user’s personal account will never be deleted, because they are already tied to public reviews, ratings or comments posted by that user.  (See <%= link_to 'Terms of Use', '/terms'%>) This includes but is not limited to user-provided “Content,” as defined above. If you delete your account, you will lose access to the parts and features of the site for which you must be a registered user in order to gain access.</p>
	
	<p>Other information, content, and materials may be retained in our database and backup copies thereof, for our records, and as necessary for us to comply with governmental orders, resolve disputes, troubleshoot problems, enforce any agreement you have entered into through our sites and as otherwise deemed reasonably necessary by us.</p>
	
</div>

<div class="section">
	<h2>Children's Privacy</h2>
	
	<p>This website's content is intended for adults and we will not knowingly collect personal information from children under 13 years of age. If you are a parent or legal guardian of a child under age 13 who you believe has submitted personal information to this site, please contact us immediately at support@citizensmarket.org.</p>
</div>

<div class="section">
	<h2>Posting</h2>
	
	<p>Posting or updating content is a public action, and all content may be publicly visible. Identification of all contributed content may include, but is not limited to, display of your username, photo, and statistics about your review history. All content may be retained for restorative, archival, or research purposes by Citizens Market. Editing or deleting content may alter the displayed state of the content but will not be permanently deleted the content from the website.</p>
</div>

<div class="section">
	<h2>Security</h2>
	
	<p>This site has security measures in place to protect the loss, misuse and alteration of the information under our control. However, your confidential use of this site cannot be guaranteed by Citizens Market. Citizens Market shall not be responsible for any harm that you or any person may suffer as a result of a breach of confidentiality in respect to your use of this site or any information you transmitted to this site.</p>
</div>

<div class="section">
	<h2>Other Websites</h2>
	
	<p>Material on this website may link to independently run websites outside of the www.citizensmarket.org domain. Citizens Market is not responsible for the privacy practices or content of such websites. We encourage you to read the privacy policies of any websites you visit from this website.</p>
</div>

<div class="section">
	<h2>Contacting Citizens Market</h2>
	
	<p>Please contact us at <a href="mailto:support@citizensmarket.org">support@citizensmarket.org</a> if you have any questions or concerns about Citizens Market’s Privacy Policy.</p>
</div>

This Privacy Policy is effective as of December 31, 2008. 

</div>
