<div id="homepage">
    <div id="homepage-center-container">
        <div id="homepage-center-container-top"></div>
        <div id="homepage-center-container-body">
            <div id="welcome">
                <h1>Citizens Market</h1>
                <em>Your Money.  Your Choices.  Your Values.</em>
                <p>Wouldn't it be great to live in a world where citizens can make informed purchasing decisions, and where corporations are driven to behave ethically and sustainably?  We think so.  How do we intend to accomplish such a thing?  <%= link_to "Find out now", '/signup', :title => 'Join Citizens Market' %>.</p>
            <%= link_to "", '/signup', :id => 'sign-up' %>
            </div><!-- end welcome -->
            <div id="video">
                <object width="380" height="280"><param name="movie" value="http://www.youtube.com/v/EdTieTqOg2M&amp;border=1&amp;hl=en&amp;feature=player_embedded&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowScriptAccess" value="always"></param><embed src="http://www.youtube.com/v/EdTieTqOg2M&amp;border=1&amp;hl=en&amp;feature=player_embedded&amp;fs=1&amp;autostart=true" type="application/x-shockwave-flash" allowfullscreen="true"  allowScriptAccess="always" width="380" height="280"></embed></object>
            </div><!-- end video -->
        </div><!-- end home-page-center-container-body -->
        <div id="homepage-center-container-bottom"></div>    
    </div><!-- end homepage-center-container -->
    <div id="yui-main">
        
    </div><!-- end yui-b -->
</div><!-- end homepage -->


