<div id="homepage">
    <div id="homepage-center-container">
        <div id="welcome">
            <h1>Citizens Market</h1>
            <em>Your Money.  Your Choices.  Your Values.</em>
            <p>Wouldn't it be great to live in a world where citizens can make informed purchasing decisions, and where corporations are driven to behave ethically and sustainably?  We think so.  How do we intend to accomplish such a thing?  <a href="#nogo" title="Find Out How Citizen's Market Works">Find out now</a>.</p>
        </div><!-- end welcome -->
        <%=render :partial => "users/new"%>
    </div><!-- end center-container -->
    <div id="yui-main" role="main">
        <div id="reviews" class="yui-b">
            <h3>Most Recent Reviews</h3>
            <div class="review">
                <span class="date">January 1, 2009</span>
                <h2>Kimberly-Clark</h2>
                <p>Kimberly-Clear received a relatively high score of 85 out of a possible 100 in the latest (2006) Human Rights Campaign Foundation (HRC) "Corporate Equality Index:A Report Card on Gay, Lesbian, Bisexual and Transgender Equality in Corporate America.  HRC awards points according..."</p>
                <a class="read-more" href="#nogo" title="Read More">Read More</a>
            </div><!-- end review -->
            <div class="review">
                <span class="date">February 4, 2009</span>
                <h2>Texaco</h2>
                <p>Chevron's subsidiary Texaco intentionally dumped 19 billion gallons of toxic wastewater and accidentally spilled 16 million gallons of crude oil into Ecuador's Amazonian rainforest between 1972 and 1991, ain what may be the worst oil-related environmental disaster in history.  (By comparison, the Exxon Valdez spilled ..)   </p>
                <a class="read-more" href="#nogo" title="Read More">Read More</a>
            </div><!-- end review -->
        </div><!-- end reviews --> 
    </div><!-- end yui-main -->
    <div id="latest-news" class="yui-b">
        <div class="news-item">
            <h3>Latest News</h3>
            <span class="date">January 20, 2009</span>
            <h2>We're Recruiting!</h2>
            <p>We're looking for an experienced Rails web developer to join our volunteer team.</p>
            <a class="read-more" href="#nogo" title="Learn More">Learn More</a>
        </div><!-- end news-item -->
        <div class="news-item">
            <span class="date">January 7, 2009</span>
            <h2>Checkout our YouTube video!</h2>
            <p>We're applying for funding from the Google Project 10 100.  Help us out by clicking <a href="#nogo" title="Google Project 10 to 100th">this link</a> to rate our 30-second video!</p>
            <a class="read-more" href="#nogo" title="Learn More">Learn More</a>
        </div><!-- end news-item -->
        <div class="news-item">
            <span class="date">January 1, 2009</span>
            <h2>We want your input...</h2>
            <p>..as we re-design our website.  Please take a few minutes to fill out our <a href="#nogo" title="Short Survey">short survey</a>.  We welcome any other feedback.</p>
            <a class="read-more" href="#nogo" title="Learn More">Learn More</a>
        </div><!-- end latest-news -->
    </div><!-- end yui-b -->
</div><!-- end homepage -->


