<div class="info_box rounded">
  <div id="description">
    <h3>Company Description</h3>
    <div>
      <%=@company.description %>
    </div>
    <div class="attribution">
      <label>Source:</label> <%=link_to 'Wikipedia', 'http://en.wikipedia.org/wiki/L%27Or%C3%A9al'%>
    </div>
  </div><!-- end description -->
  <div id="brands">
    <h3>Brands</h3>
    <ul>
      <% @company.brands.each do |brand| %>
        <li>
          <%=brand.name %>
        </li>
      <% end %>
    </ul>
  </div><!-- end brands -->
</div><!-- end info_box -->