<div id="scores">
  <h3>Social Issue Scores</h3>
  
  <% IssueCategory.all.each do |issue_category| %>
    <div class="category">
      <div class="score_container">
        <%=random_score %>
        <label class="category"><%=issue_category.name %></label>
      </div>
      <br class="left">
      <ul>
        <% issue_category.issues.each do |issue| %>
          <li>
            <div class="score_container">
              <%=random_score %>
              <label><%=issue.name %></label>
            </div>
            <br class="left">
          </li>
        <% end %>
      </ul>
    </div>
    
  
  <% end %>
  
</div>