<div id="scores">
  <h4>Social Issue Scores</h4>
  
  <div style="float: left;">
  
    <div class="score_container">
      <div class="score color_five rounded">9.1</div>
      <label>Environment</label>
    </div>
    <br class="left">
    <div class="score_container">
      <div class="score color_four rounded">8.7</div>
      <label>Society</label>
    </div>
    <br class="left">
    <div class="score_container">
      <div class="score color_three rounded">6.6</div>
      <label>Economic Development</label>
    </div>
    <br class="left">
  
  </div>
  
  <div  style="float: right; padding-right: 100px;">
    
    <div class="score_container">
      <div class="score color_one rounded">2.2</div>
      <label>Labor Practices</label>
    </div>
    <br class="left">
    <div class="score_container">
      <div class="score color_two rounded">4.0</div>
      <label>Product Responsibility</label>
    </div>
    <br class="left">
  
  </div>
  <br class="left">
</div>