<table id="company-list" summary="List of companies, their brands, scores and reviews">
  <caption>
    company list
  </caption>
  <colgroup>
    <col class="name">
    <col class="brands">
    <col class="score">
    <col class="reviews_count">
  </colgroup>
  <thead>
    <th class="name">company</th>
    <th class="brands">brands</th>
    <th>my score</th>
    <th>reviews</th>        
  </thead>
  <tfoot>
    <td colspan="4"><%= will_paginate @companies %>
    </td>
  </tfoot>
  <tbody>
    <%=render :partial => "company", :collection => @companies %>
  </tbody>
</table>
<%=link_to 'New Company', new_object_url %>
