<div id="company_new" class="form_box">
  <div class="content_header">
    <h2>New Company</h2>
  </div>
  <div class="content_body">

    <%= error_messages_for :company %>

    <% form_for(:company, :url => collection_url) do |f| %>
      <%= render :partial => "form", :locals => { :f => f } %>
      <div class="submit">
        <%= image_submit_tag "button_submit.gif" %>
      </div>
      <br>
    <% end %>
  </div>
</div>