
<h1><%=@company.name %></h1>

<div class="content_box">
		<div class="header">
  		<div class="tabimg_left_on">&nbsp;</div>
  		<div class="tablink_on">Company Profile</A></div>
  		<div class="tabimg_right_on">&nbsp;</div>
  		
  		<div class="tabimg_left_off">&nbsp;</div>
  		<div class="tablink"> <A HREF=''>Reviews</A></div>
  		<div class="tabimg_right_off">&nbsp;</div>
  		
  		<div class="tabimg_left_off">&nbsp;</div>
  		<div class="tablink"> <A HREF=''>Related Companies</A></div>
  		<div class="tabimg_right_off">&nbsp;</div>
  		
  		<div class="tabimg_left_off">&nbsp;</div>
  		<div class="tablink strong"> <A HREF=''>Write a Review</A></div>
  		<div class="tabimg_right_off">&nbsp;</div>
	</div>
	
	<div class="content">
    <%=@company.description %>
	</div>
	
</div>
