<div class="yui-b left-box">
  <ul id="left-nav">
      <li><%= link_to_unless_current("Our Team", {:action => "team"}) %></li>
      <li><%= link_to_unless_current("Our Model", {:action => "model"}) %></li>
      <li><%= link_to_unless_current("Our Methods", {:action => "methods"}) %></li>
      <li><%= link_to_unless_current("FAQ", {:action => "faq"}) %></li>
  </ul>
</div>