<div id="yui-main">
  <div class="yui-b">
    <h2>Frequently Asked Questions</h2>
	
    	<b>Q:</b> Why is the sky blue?<br/>
    	<b>A:</b> When light passes between two mediums in which the speed of light is different, its path of travel will change by an angle that is defined by (a) the refractory index of the two substances, and (b) the frequency, i.e. wavelength, i.e. <i>color</i> of the light.  For a given interface (as in, for example light passing from the vaccum of space into our atmosphere), each wavelength will take on a different path (see <a href="http://img.photobucket.com/albums/v70/hiphouse/Daily%20Muse/pink-floyd-dark-side.jpg">this example</a>).  Hence, when sunlight enters our atmosphere, red light goes one direction, green light another, and blue ... goes right to your eyes.<br>
    	<br>
	
    	<b>Q:</b> What's under there?<br/>
    	<b>A:</b> Under where?<br/>
    	<b>Q:</b> psych!<br/>
    	<br>
    	<br>
    	<b>Q:</b> What is the ideal number of questions for an FAQ?<br/>
    	<b>A:</b> Three <br/>
	  </div>
</div>

	<%= render :partial => "side_navigation" %>