<div id="yui-main">
  <div class="yui-b">
    <h2>Our Methods</h2>
    This tab will eventually display an image depicting the flow and aggregation of information from ratings/peer reviews all the way up to My Company Score.
	
    If you'd like to know how we generate each company's score, please have a look at our Algorithms Document
    </div>
</div>

<%= render :partial => "side_navigation" %>