<div id="yui-main">
  <div class="yui-b">
    <h2>Our Model</h2>
    <a href="Citizens_Market_Summary.pdf">Click here</a> to view a summary about us in PDF.<br />
        <a href="Citizens_Market_Funding_Proposal.pdf">Click here</a> to view our funding proposal in PDF.<br />
        <a href="Citizens_Market_Organization_Plan.pdf">Click here</a> to view our full organization plan in PDF.<br />

    <h3>Our Board of Advisors</h3>
        <h4>Our current Board of Advisors includes:</h4>
        <ul style='margin-top:0in' type=disc>
        <li><b>Gordon Bloom</b>, Founder, Harvard Social Entrepreneurship Collaboratory (SE Lab)</li>

        <li><b>Nolan Bowie</b>, Adjunct Professor Public Policy and Senior Fellow, Harvard Kennedy School</li>     
      <li><b>Alnoor Ebrahim</b>, Professor of Public Policy, Harvard Kennedy School</li>
        <li><b>Susanne Goldstein</b>, Founder, The Accelerator</li>
        <li><b>R. Paul Herman</b>, Founder and CEO, HIP Investor</li>
        <li><b>Michael Hiscox</b>, Professor of Government, Department of Government, Harvard University</li>

        <li><b>Thomas Kriese</b>, Executive Producer, Social Capital and Networks, Omidyar Network</li>       
        <li><b>Chris Jochnick</b>, Director, Private Sector Team, Oxfam America</li>
        <li><b>David Laakso</b>, Founder, Chelsea Creek Studio</li>
      	<li><b>Renee Lloyd</b>, Assistant Director & Clinical Fellow, CyberLaw Clinic, Berkman Center for Internet and Society, Harvard Law School</li>
        <li><b>Eric Melin</b>, Founder, SpiderSplat Consulting, and Founder, BostonBridge</li>

        <li><b>Michael Pirson</b>, Visiting Fellow, Graduate School of Arts and Sciences, Harvard University</li>
        <li><b>George Polisner</b>, Founder, AloNovo.com</li>
       	<li><b>William Ryan</b>, Research Fellow, Hauser Center for Nonprofit Organizations, Harvard Kenneedy School</li>
        <li><b>Sandra Waddock</b>, Professor of Management, Center for Corporate Citizenship, Boston College</li>
        <li><b>Clay Ward</b>, Founder and President, BuyItLikeYouMeanIt.org</li>

        </ul>

    <h3>Our Partners</h3>
        <ul style='margin-top:0in' type=disc>
        <li><b>The Berkman Center for Internet and Society at Harvard University.</b>  Citizens Market is working with the Berkman Center's CyberLaw Clinic to 
        develop our legal strategy.
        <li><b>Boston University School of Management.</b>  Citizens Market is working with MBA student teams to prepare a human resources management plan and a marketing plan.
        </ul>
    </div>
</div>

    <%= render :partial => "side_navigation" %>