<fieldset id="review_form">
  
  <div id="review_issues">
    <%=render :partial => "review_issue", :collection => @review.review_issues %>
  </div>
  <p><%= add_associated_link "Add an issue", @review.review_issues.build %></p>
  
  <label for="review_body">Review:</label>
  <%= f.text_area :body, :cols => 110, :rows => 5, :class => 'expanding' %>
  
</fieldset>