<h1>Editing Review</h1>

<%= error_messages_for :review %>


<% form_for(:review, setup_review(@review), :url => review_path(@review), :html => {:method => :put}) do |f| %>
  <%= render :partial => "form", :locals => { :f => f, :review => @review } %>
  <div class="submit">
    <%= f.submit "Update" %>
  </div>
  <br/>
<% end %>

<br/>

<%= link_to 'Back', reviews_path %>
