<div id="review_new"class="form_box">
  <div class="content_header">
    <h2>New Review</h2>
  </div>
 <%= error_messages_for :review %>
 <div class="content_body">

    <%= error_messages_for :review %>

    <% form_for(:review, setup_review(@review), :url => reviews_path) do |f| %>
      <%= render :partial => "form", :locals => { :f => f, :review => @review } %>
      <div class="submit">
        <%= f.submit "Save" %>
      </div>
      <br/>
    <% end %>
  </div>
</div>