<ul id="links">
    <li class="last"><%=link_to 'Privacy Policy', '/privacy' %></li> 
    <li><%=link_to 'Terms and Conditions', '/terms' %></li> 
</ul><!-- end links -->
<p>&#169; 2009 Citizens Market</p>


